/* You can add global styles to this file, and also import other style files */
@use '~@angular/material/theming';
@include mat-core();


$custom-app-primary: mat-palette(mat-green);
$custom-app-secondary: mat-palette(mat-purple);
$custom-app-warn: mat-palette(mat-red);

$custom-app-theme: (
  color: (
    primary: $custom-app-primary,
    secondary: $custom-app-secondary,
    warning: $custom-app-warning,
  ),
);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
